#parentDiv {
  position: absolute;
  top: 65px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* margin-top: 100px; */
}

#initial,
#about,
#profession,
#projects,
#more {
  min-height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#initial h4 {
  text-align: center;
  font-size: 20px;
  line-height: 35px;
}

.greet {
  font-weight: 100;
}

#initial h1 {
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
}

#profileImage {
  margin-left: auto;
  margin-right: auto;
  width: 340px;
  display: block;
}

.imgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about p {
  font-size: 18px;
  line-height: 30px;
  white-space: initial;
}

#about .aboutInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutHR {
  width: 50%;
  margin: auto;
  margin-top: 10px;
  opacity: 1;
}

#profession .small {
  font-weight: normal;
}

#profession p {
  text-align: right;
  opacity: 0.9;
}

#desig {
  text-align: left;
}

#profession .card-body {
  padding: 30px;
}

#profession .card {
  max-width: 450px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.professionHR {
  width: 25%;
  margin: auto;
  opacity: 1;
}

.projectsHR {
  width: 60%;
  margin: auto;
  margin-bottom: 30px;
  opacity: 1;
}

#projects .gitrep {
  background-color: #00308f;
  color: white;
}

#projects .captureBtn {
  color: #00308f !important;
}

.projectHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 20px;
  font-size: 16px;
}

.projectFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.projectName {
  font-weight: bold;
}

#projects .card-body {
  padding: 30px;
}

#projects .card {
  width: 300px;
  margin: auto;
  margin-bottom: 30px;
}

#projects a {
  color: inherit;
  text-decoration: none;
}

.projectCategory {
  opacity: 0.8;
  font-size: 12px;
  line-height: 14px;
}

.projectTech {
  line-height: 16px;
}

#more a {
  color: white;
  background-color: #00308f;
  font-size: 20px;
  padding: 10px 50px;
}

.sm a {
  padding: 5px !important;
  margin: 0 20px;
}

.sm .card-body {
  text-align: center;
}

#utube {
  background-color: red !important;
}

#linkedin {
  background-color: #0077b5 !important;
}

#github {
  background-color: #171515 !important;
}

.fa-linkedin,
.fa-youtube,
.fa-github {
  font-size: 30px;
}

.fa-file,
.fa-envelope {
  margin-right: 10px;
}

#more .card {
  width: fit-content;
  margin: auto;
}

.moreHR {
  width: 40%;
  margin: auto;
  margin-bottom: 30px;
  opacity: 1;
}

@media screen and (max-width: 992px) {
  #profileImage {
    width: 250px;
  }
  .aboutInfo {
    margin-top: 30px;
  }
  #more .card {
    margin-top: 30px;
  }
  #parentDiv {
    margin-bottom: 70px;
  }
  #initial h4 {
    padding: 0 25px;
  }
}

@media screen and (max-width: 768px) {
  #profileImage {
    width: 160px;
  }
  .aboutInfo {
    margin-top: 30px;
  }
  .sm a {
    margin: 10px 5px;
  }
}
